[2019-10-25 08:38] lrhn opened #2 "Move `sum` operations to another extension on `Iterable<num>`."
The `sum` operations in `IterableX` cast their elements to `num`.
Consider instead having an
[code]
Then you don't need to cast each element (but you will have to be a little clever about finding the correct `0` for the iteration, perhaps:
[code]

[2019-10-25 08:39] lrhn opened #3 "The `joinToString` function is inefficient."
The `joinToString` function in `IterableX` does repeated string concatenation. It should probably use a `StringBuffer` to avoid creating so many intermediate strings.

[2019-10-25 08:47] lrhn opened #4 "Documentation for `String.isUpperCase` is incorrect."
https://github.com/leisim/dartx/blob/139b8f8a55523c0a14696dabeacdfc4a6cf1af4d/dartx/lib/src/string.dart#L58

The function doesn't just check the first character. Ditto for `isLowerCase`.

[2019-10-25 09:05] leisim commented on #2
I'll do that, thanks...

[2019-10-25 09:13] #3 closed

[2019-10-25 09:19] #4 closed

[2019-10-26 10:29] #2 closed

[2019-10-26 14:20] passsy opened #8 "flutterx should become a separate repository"
I don't see value in having `dartx` and `flutterx` in the same repository. I'd prefer moving `flutterx` to `leisim/flutterx` and keep both separate.

[2019-10-26 14:22] leisim commented on #8
Yes you are probably right. Especially since I also plan to create `testx`.

[2019-10-26 14:24] leisim commented on #8
I thought it would be nice to have everything in one place but I think I'll split them...

[2019-11-11 19:17] muhleder opened #15 "Breaks json_serializable"
This currently breaks any models using json_serializable if imported into the model file.

https://pub.dev/packages/json_serializable

E.g. if dartx is imported into the example.dart in the above link,

then the example fromJson generated code goes from

[code]

to

[code]

I believe the extensions here applied directly to the types are breaking the type checking in the json_serializable helper fu

[2019-12-05 14:49] mnordine commented on #8
@leisim Same for `time.dart`

[2019-12-05 15:53] leisim commented on #8
@mnordine time.dart is already a [seperate repository](https://github.com/jogboms/time.dart)...

[2019-12-05 15:56] mnordine commented on #8
Ah, I misunderstood. I thought the issue was for simply re-exporting other libraries, as you're doing with `time.dart`. I don't see why you should do that?

[2019-12-05 15:57] leisim commented on #8
#11

[2019-12-12 02:52] wurikiji opened #16 "Do we need `invoke` method?"
Dart, basically, supports the`call()` method for all `Function`s. So we can already use `myFunction?.call()`.  In addition, `call()` method can take any number of arguments.

[2019-12-12 02:54] wurikiji commented on #16
This is implicitly documented on [Callable Classes](https://dart.dev/guides/language/language-tour#callable-classes).

[2019-12-12 02:55] leisim commented on #16
Oh I didn't know that ^^
I'll deprecate and remove the `invoke()` method.

[2019-12-12 02:57] wurikiji commented on #16
:) Because this package is getting popular if you write what I said to your README, it will be really helpful for others who also don't know about this. Thanks for your works on this package 😍

[2019-12-12 08:19] wkornewald opened #18 "coerceIn is unnecessary"
If I understand coerceIn correctly it does the same thing as num.clamp:
https://api.dartlang.org/stable/2.7.0/dart-core/num/clamp.html

The other two coerce methods do the same thing as min() and max(). Maybe your methods are slightly easier to understand, but min and max are so common in other programming languages that keeping the convention might be more important than introducing a second way

[2019-12-12 14:40] shinayser commented on #16
This package will be getting very popular now that 2.7 as hit stable for Flutter 😆

[2019-12-12 15:04] leisim commented on #16
Do you get code completion for the `.call()` method because I don't. Maybe that would be an argument against removing `.invoke()`.

[2019-12-12 15:07] leisim commented on #18
I did not even know `clamp()` existed. I'm not sure about how to move forward. Many users come from Kotlin and maybe we should keep some duplicates for them.

This is also related to #10 and #16

[2019-12-12 15:13] shinayser commented on #16
None completion. But the completion on dart is really weird. I will post this issue on the language repo.

[2019-12-12 15:17] shinayser commented on #16
Done. Give it a thumbs up to help it enter on developers radar :)

https://github.com/dart-lang/sdk/issues/39761

[2019-12-13 13:10] leisim commented on #15
This seems to be a bug in `json_serializable` or in the `analyzer`. I don't think we should make all extensions generic...

[2019-12-13 19:02] shinayser opened #19 "Transform paramenter on "windowed' should not be required"
Hello!
Most of time when using the `windowed` method you just want to go through the list, without worring about its transformation. But the current api has the transform method required, wich leads to some silly usages like:

[code]

I suggest making it optional, just like the `step` and `partialWindows` are, with a default value return the current iteration object, just like the sample above.

L

[2019-12-13 19:09] shinayser opened #20 "Method 'all' for iterables is unecessary"
We already got the method `every` from the core library, that does the same thing.
Is the method `all` really necessary?

[2019-12-15 20:40] ThinkDigitalSoftware opened #22 "Add '.count' method to Lists and maps"
I'd like to submit a PR for this when I get time unless someone adds it before me. Basically it would take the same parameters as a where function and will return the number of elements in the list or map that satisfy the condition

[2019-12-15 20:45] ThinkDigitalSoftware opened #23 "Add String.removeWhere"
Same as List.removeWhere but for characters and patterns. This will basically wrap the replaceAll call and default the second parameter to an empty string

[2019-12-15 21:08] leisim commented on #22
This method [already exists](https://github.com/leisim/dartx/blob/825040aeba9f2fd88a716c90294fd65b06144ee5/lib/src/iterable.dart#L402) on `Iterables`. How would you implement it on maps?

[2019-12-15 21:12] ThinkDigitalSoftware commented on #22
I can't find an existing count method. Do you have a link to the docs?
For map you'd find all map entries that satisfy a condition and return the
count of them

On Sun, Dec 15, 2019, 1:08 PM Simon Leier <notifications@github.com> wrote:

[2019-12-15 21:19] leisim commented on #22
https://pub.dev/documentation/dartx/latest/dartx/IterableX/count.html

[2019-12-15 22:07] ThinkDigitalSoftware commented on #22
Oh, I thought you meant natively. Ok. I missed it. It's cause I incorrectly
assumed that what was in the Readme was all that was there

On Sun, Dec 15, 2019, 1:19 PM Simon Leier <notifications@github.com> wrote:

[2019-12-18 18:21] jinyus opened #26 "MD5 getter doesn't work on windows"
`print('abc'.md5);`
the code above outputs "O°Ö?}(ár"

This is what I got when I ran the test:

00:01 +18 -1: StringX .md5) [E]
  Expected: 'd41d8cd98f00b204e9800998ecf8427e'
    Actual: 'Ô\x1DÙ\x00²\x04é\tøB~'
     Which: is different.
            Expected: d41d8cd98f ...
              Actual: Ô\x1DÙ\x ...
                      ^
             Differ at offset 0

  package:test_api

[2019-12-18 19:26] leisim commented on #26
Thanks for opening this issue. This has already been solved with #21 and will be part of the next release.

[2020-01-04 14:09] passsy commented on #19
This is a harder problem than it initially seems like. Let's look at the signature.

[code]

The transform function `R transform(List<E> window)` changes the return type. `R` is only defined in the `transform` parameter. Without defining `transform` dart static analysis can't tell the type of `R` and the returned typed would be `Iterable<dynamic>`. That's not what we want, it should be `Iterable<L

[2020-01-04 14:19] passsy commented on #16
The deprecation is a good solution!

[2020-01-04 14:19] #16 closed

[2020-01-04 17:39] shinayser commented on #19
I vote for **removing the transform parameter**. As you said, it can easily fixed by a map function.

[2020-01-04 22:51] leisim commented on #19
I agree. Let's remove it.

[2020-01-06 10:30] #19 closed

[2020-01-06 10:36] leisim commented on #22
I think this issue is resolved. Please reopen if you still have a problem.

[2020-01-06 10:36] #22 closed

[2020-01-06 10:37] leisim commented on #18
We decided to keep some duplicate methods to make finding them easier for new users (for example Kotlin users)

[2020-01-06 10:37] #18 closed

[2020-01-06 10:38] leisim commented on #20
We decided to keep some duplicate methods to make finding them easier for new users (for example Kotlin users).

Tree shaking will remove the unused ones anyway.

[2020-01-06 10:38] #20 closed

[2020-01-08 04:41] erluxman opened #32 "Logos for FlutterX"
Didn't know flutterX library is already uploaded in pub.dev so I had made logos for them..   Pleas use them if you like them.

![ic_flutterX](https://user-images.githubusercontent.com/6260014/71950942-43ad2c00-3201-11ea-900d-8c4132a11584.png)
<img width="2543" alt="logo_flutterX" src="https://user-images.githubusercontent.com/6260014/71950945-4871e000-3201-11ea-9ef8-5a40813e3048.png">

[2020-01-12 13:42] knaeckeKami opened #33 "methods .thenBy(), thenWith() and related are not composable"
I would expect that I can sort an Iterable by chaining an arbitrary amount of calls to .thenBy(), thenWith() and related methods.

However, _SortedList only supports a maximum number of two comparators at the moment.
So, this test fails:

[code]
with:

[code]

Only the last two comparators (that compare first item.b, then item.c) are considered, the first one, that compares item.a get overridden.

[2020-01-12 16:01] #33 closed

[2020-01-12 16:02] leisim commented on #32
Wow looks really cool! Thank you! I don't know when I will have time to actually implement `flutterx` but at least we have a logo now :+1:

[2020-01-13 02:12] erluxman commented on #32
Maybe you should create a new repo some that people can start at least discussing?

[2020-01-13 19:22] yongjhih opened #35 "Add `Comparable.between(T, T)` extension method"
In Kotlin we can do `if (c !in '0'..'9')`, unfortunately, the `in` operator can't be overwritten in Dart, probably we can just add `Comparable.between(T, T)` extension method as well, but maybe there is a better method name to do it.

[code]

[code]

ref. https://gist.github.com/yongjhih/a0a17adaef0eb5fc7dbba5e6924ed8de

[2020-01-13 19:26] yongjhih opened #36 "Add 'num.minus()' and `num.plus()` for null-safety"
I'm not sure if it's a good idea for this project. That would be better if there is a nullable +operator we can overwrite such as `1 +? nullable` similar to `1 as? String`

[code]

[code]

[2020-01-13 21:06] passsy commented on #35
You can use `rangeTo` together with `contains`.

[code]

[2020-01-13 21:36] yongjhih commented on #35
`rangeTo().contains()` is not efficent for `between()` if compare to the following code, and not supported `DateTime.between(t1, t2)`

[code]

[2020-01-13 21:51] yongjhih opened #37 "Add an `Object.as()` for null-safety casting similar to `as?` in Kotlin"
[code]

I tried to implement it with the following code, but they don't work, I think it's a limitation in Dart:
[code]
or
[code]

[2020-01-17 12:22] leisim commented on #26
This has been fixed with the latest version.

[2020-01-17 12:22] #26 closed

[2020-01-17 12:22] #8 closed

[2020-01-21 20:20] ThinkDigitalSoftware opened #40 "Add IterableX.containsAny()"

[2020-01-22 21:25] #40 closed

[2020-01-26 23:22] #15 closed

[2020-01-28 17:34] shinayser opened #49 "About the duplicated methods..."
Originally this issue was to discuss the need of the `coerceIn` method, but before I searched on the issues history and found that this issue already exists https://github.com/leisim/dartx/issues/18.
The argument that @leisim used on it is pretty valid as it helps other developers from other languages to find more easily some of their correspondents on dart language.

But this causes a problem: **

[2020-01-28 18:59] leisim commented on #49
We don't try to add all method names possible, just the very popular ones like `filter()`. If you come from Kotlin, you kind of expect Dart to have a filter method ^^

That is a valid point. I would suspect that most of the users of Flutter are familiar with Kotlin. But a substantial amount also has an iOS or web background so I think we should also allow pull requests for "super popular" methods

[2020-01-28 19:04] shinayser commented on #49
Adding it to the README file is much easier to find it because all the methods will be on the same page. Adding it to the `dartx` documentation would be a problem because every method is separated by contexts, separated by different files.

That is why I am suggesting to add it to the a README section "Methods correspondency", a Ctrl + F would solve this problem in an easier way.

This would only

[2020-01-28 19:07] leisim commented on #49
I don't have any problems with auto-complete. What problems do you experience?

[2020-01-28 19:07] passsy commented on #49
Kotlin is relatively new and the the language designers had the chance to created an elegant API by combining the best APIs from tons of other languages (Java, Scala, C#, Groovy, Python, Nice) [as mentioned by Andrey Breslav](https://2018.geekout.ee/andrey-breslav/). So it's not that we favour the Kotlin API per se, but a naming convention which is common across many languages.

The Kotlin API isn

[2020-01-29 10:12] deadsoul44 opened #50 "Add Iterable.groupBy"
It is available as a function:
https://api.flutter.dev/flutter/package-collection_collection/groupBy.html

But, it can be more useful as an extension.

There is a discussion on dart-lang repo but the issue is closed:
https://github.com/dart-lang/sdk/issues/30376

[2020-01-29 10:22] passsy commented on #50
It's already available
-> [`Iterable<T>.groupBy`](https://github.com/leisim/dartx/blob/da180dd4033c6460294e29a810c0a7ef3a18cc0e/lib/src/iterable.dart#L983)

[2020-01-29 10:22] #50 closed

[2020-01-29 20:10] deadsoul44 opened #51 "Add Iterable.groupBy option which returns List of Lists"
Iterable.groupBy returns a map but if it returns List of Lists optionally or with another extension, it will be more useful with nested Listview.

[2020-01-29 20:20] leisim commented on #51
You could just call `.groupBy().values.toList()`.

[2020-01-29 20:30] deadsoul44 commented on #51
Currently, I am doing that way. But if we could add this option, it would be shorter. If you think, it is not necessary, we can close the issue.

[2020-01-29 21:06] leisim commented on #51
I think it is not something many users need...

[2020-01-30 08:18] deadsoul44 commented on #51
People who have nested Listview builder in widget tree and who get data from some API desperately need this and I guess they are not even aware of groupby function or extension. Other than that, maybe there is no use case.

[2020-01-30 11:26] Renesanse opened #52 "Equals extensions"
Please add equals extensions based on ListEquality and so on...

[2020-01-30 11:42] leisim commented on #52
It is not possible to create an extension named `equals` because every object already has a method with that name. There already exists the `.contentEquals()` extension for iterables (and lists).

[2020-01-30 12:19] passsy commented on #52
I like the idea but I'm unsure if we should use [`ListEquality`](https://api.flutter.dev/flutter/package-collection_collection/ListEquality-class.html) or [`DeepCollectionEquality`](https://api.flutter.dev/flutter/package-collection_collection/DeepCollectionEquality/DeepCollectionEquality.html). Please describe your use case and we can see which API fits best.

Alternatively you could use collecti

[2020-01-30 12:24] Renesanse commented on #52
You probably mean == operator, I didn't see a equals in Iterable, List, etc.  ```.contentEquals()``` is ok.

[2020-01-30 12:28] leisim commented on #52
Yes, my bad. Is the `contentEquals()` method not suggested for auto-complete if you type "equals"?

[2020-01-30 13:38] Renesanse commented on #52
To be honest I am against about to use different collections. I prefer use core lib with extensions =)

[2020-01-30 17:29] leisim commented on #52
Does `contentEquals()` solve your problem or do you need more options / deep collection equality?

[2020-01-30 17:39] Renesanse commented on #52
Well, contentEquals solved my problem, but I think will be nice to have deep collection equality as well.

[2020-01-31 18:43] yongjhih commented on #49
We can split those duplicated methods into other flavored packages if they are really unnecessary.

[2020-02-09 20:21] deadsoul44 opened #57 "Add string slice extension"
String slice extension can be very useful. For example:

Instead of:
`'awesomeString'.chars.slice(3, -4).joinToString(separator: '')`

we could do:
`'awesomeString'.slice(3, -4)`

Thank you!

[2020-02-16 23:57] sgehrman opened #58 "please update package versions. I'm getting errors including hive_generator"
Because no versions of hive_generator match >0.7.0 <0.8.0 and hive_generator 0.7.0 depends on dartx ^0.2.0, hive_generator ^0.7.0 requires dartx ^0.2.0.
Because dartx 0.2.0 depends on characters ^0.3.0 and no versions of dartx match >0.2.0 <0.3.0, dartx ^0.2.0 requires characters ^0.3.0.

Thus, hive_generator ^0.7.0 requires characters ^0.3.0.
So, because therapist_training depends on both charact

[2020-02-17 00:18] sgehrman commented on #58
nevermind, I'll talk to hive_generator.

[2020-02-17 00:18] #58 closed

[2020-03-03 15:26] leisim commented on #57
Yes I agree. Could you maybe create a PR?

[2020-03-03 15:54] #49 closed

[2020-03-06 18:40] ThinkDigitalSoftware opened #60 "coerceIn is already a feature of num"
Using `num.clamp(lower,upper)`, it returns the same thing.

[2020-03-06 18:41] ThinkDigitalSoftware commented on #32
@erluxman, this is a nice logo! I've been looking for someone to contribute a logo to my open source project. How can I contact you?

[2020-03-06 19:10] ThinkDigitalSoftware opened #61 "Add '.get()' function for Iterable and Map"
This will allow for null type checking while we wait for the new dart version

[2020-03-06 20:03] leisim commented on #61
The new version is just around the corner (I think early April) so I don't think it is worth implementing this...

[2020-03-06 20:05] leisim commented on #60
There are multiple discussions around duplicate names (#49) and we decided to keep the duplicate versions and rely on tree shaking to get rid of the unused ones...

[2020-03-06 20:06] ThinkDigitalSoftware commented on #61
Ah ok. Thanks for commenting

[2020-03-07 04:32] erluxman commented on #32
@ThinkDigitalSoftware  Thank you so  so so so so much for you praise, I am not a good designer by any means and I do not have any eyes nor experience with logs but if you think I can be of help. Hell yeah I would love to . 😄

[2020-03-07 05:10] ThinkDigitalSoftware commented on #32
@erluxman awesome. How should I contact you?

[2020-03-07 06:18] erluxman commented on #32
Mail me at erluxman@gmail.com or dm me on twitter at @erluxman

[2020-03-07 22:59] ThinkDigitalSoftware commented on #60
Understood. I followed the links and came to the same conclusion. Your reasoning makes sense to me. I think then in these cases, it can simply be a wrapper that calls the other function rather than reimplementing it, as `coerceIn` currently does. A second option can be to mark the alias function, in this case, `coerceIn` as deprecated to facilitate teaching new ones the Dart way of doing things.

[2020-03-07 22:59] #60 closed

[2020-04-02 04:00] ianjaspersantos opened #64 "Can I add ELEMENT between LIST of ELEMENTS?"
[code]

Is there any way I can achieve this using this packages easily? Thanks

[2020-04-02 06:35] xsahil03x commented on #64
This package is specific to Dart extensions, flutter extensions should be added to "[FlutterX](https://pub.dev/packages/flutterx)".

The repository link is currently broken, @leisim will be able to guide you more on this.

[2020-04-02 07:17] passsy commented on #64
I'm using this extension in my projects

[code]

[2020-04-02 15:17] ianjaspersantos commented on #64
Thanks for the answer. :)
But somewhat somehow I think its relevant to dartx as it should be flexible as possible like the use case below:

[code]

But ill the extension you provided. Thank you!

[2020-04-02 15:17] #64 closed

[2020-04-02 15:35] passsy commented on #64
@ianjaspersantos You can use [Iterable<T>.joinToString()](https://github.com/leisim/dartx/blob/8b2617855f444a9058074b4a90cbd7ea1926fa7e/lib/src/iterable.dart#L269)

[2020-04-05 20:17] marcelgarus opened #65 "add singleOrNull method to Iterable"
There's `lastOrNull` and `firstOrNull`, but `Iterable`s also have the `single` accessor. It would be great if this package would also support `singleOrNull`.

[2020-04-15 10:58] marcelgarus opened #66 "Add whereNotNull method to Iterable"
Great to filter Iterables.
Will be even more helpful when NNBD lands.

[2020-04-15 11:05] rrousselGit commented on #66
Maybe:

[code]

[2020-04-15 11:49] passsy commented on #66
[`whereNotNull`](https://pub.dev/documentation/dartx/latest/dartx/IterableX/whereNotNull.html) already exists.

We have to see how it will work with NNBD. Right now it returns `Iterable<E>` where `E` can be nullable. Not sure if the type system allows to return a generic non-null type.

[2020-04-15 12:00] rrousselGit commented on #66
It should be feasible to write:

[code]

[2020-04-15 14:03] marcelgarus opened #67 "Add isNull and isNotNull getters on Object"
Google's [<kbd>basics</kbd>](https://pub.dev/packages/basics) package provides them and they are more readable than just comparing objects with `== null` and `!= null`.

[2020-04-15 14:06] marcelgarus opened #68 "Add .range method on int"
Very often, ranges go from `0` to `n`. Instead of having `0.rangeTo(n)`, we could use `n.range` as a shortcut.

[2020-04-15 14:06] marcelgarus opened #69 "Add `contains` method on `Directory` to check if a `File` or other `Directory` is inside it"
The title pretty much says everything.

[2020-04-15 14:07] marcelgarus opened #70 "Add `extension` method on `File`"
Often, you want to get the file extension, but there's currently no way to get it.

[2020-04-15 14:12] #66 closed

[2020-04-15 18:22] marcelgarus commented on #65
@leisim If you don't have time, I'd be happy to implement this.

[2020-04-15 18:22] marcelgarus commented on #67
@leisim If you don't have time, I'd be happy to implement this.

[2020-04-15 18:23] marcelgarus commented on #68
@leisim If you don't have time, I'd be happy to implement this.

[2020-04-15 18:23] marcelgarus commented on #69
@leisim If you don't have time, I'd be happy to implement this.

[2020-04-15 18:23] marcelgarus commented on #70
@leisim If you don't have time, I'd be happy to implement this.

[2020-04-20 08:29] wangbo4020 opened #71 "Add '.name' on FileSystemEntity, Directory"
Add '.name' on FileSystemEntity, Directory

[2020-04-20 08:32] #71 closed

[2020-04-24 12:30] MisterJimson opened #73 "Alllow characters dependacy of ^0.5.0"
Currently this package depends on `characters` from 0.3.0 to 0.4.0.

If used with other packages that require ^0.5.0, you get a conflict when resolving packages.

Are we able to widen the dependency range?

[code]

[2020-05-03 17:33] #73 closed

[2020-05-03 17:33] #35 closed

[2020-05-05 13:04] passsy opened #77 "path version conflict"
`dartx: 0.4.0` is incompatible with Flutter `1.17` because of `path`.

[code]

[code]

[2020-05-05 13:07] passsy commented on #77
The version range can't be expanded to include earlier versions of `path` because dartx depends on the new [`extension(String path, [int level])`](https://pub.dev/documentation/path/latest/path/Context/extension.html) method added to `path: 1.7.0`.

For most users it should be fine to override the path dependency:

[code]

[2020-05-05 17:45] mreichelt commented on #77
Yep, I'm affected by this. Wouldn't it make more sense to create regular versions for stable, and `-dev` or `-beta` versions for those who use Flutter Dev or Beta? It's kind of weird to force users into using builds not marked as stable.

[2020-05-05 22:15] shinayser commented on #77
Flutter 1.18 is the one that is being promoted to stable soon? I think it's the 1.17 right?

If it's the 1.17 the workaround 2 will not be possible for quite some time (until the next release I believe).

[2020-05-06 12:18] passsy commented on #77
Flutter 1.17 is the next stable version

[2020-05-07 14:21] mreichelt opened #79 "Add String.removePrefix, removeSuffix, and removeSurrounding"
I know these methods from Kotlin: they make development so much easier when you need those.

- `removePrefix`: removes a prefix from a string and returns that as a copy, otherwise returns a copy of the original string
- `removeSuffix`: same, but for suffix.
- `removeSurrounding`: removes a prefix and a suffix if and only if both exist - otherwise keeps that unchanged. Run [this Kotlin example](htt

[2020-05-08 08:25] passsy commented on #79
Absolutely go for it! We're missing tons of useful String manipulation extensions.

I've seen similar methods in other extension packages. Have a look there for some inspiration
- Googles `dart_basic` offers [`withoutPrefix`](https://github.com/google/dart-basics/blob/390c4649c63373f7144b453aeb9824d2c9599746/lib/string_basics.dart#L42) and [`withoutSuffix`](https://github.com/google/dart-basics/bl

[2020-05-09 11:58] Skquark opened #80 "Offering my switchCase Extension"
I just adapted a little utility I've been using to work as extension, and I think it'd fit in well with your library. It does the equivalent of switch(string) { case "txt1": etc, only cleaner and easier inside a widget structure, or wherever you'd use a standard switch case break default statement.. Here it is:
[code]
Simple and fairly elegant code with the optional default: parameter, I could giv

[2020-05-14 08:47] #77 closed

[2020-05-14 08:58] passsy commented on #77
`dartx: ^0.4.1` is now compatible with Flutter 1.17 (stable)

[2020-05-17 21:16] ishaan1995 commented on #32
@leisim I have created something similar for the widget kit in flutter called `widgetx`: https://github.com/ishaan1995/widgetx
https://pub.dev/packages/widgetx

If you want to collaborate on this, or have any more ideas, I am more than happy to help and contribute. Also, if you are not looking to use flutterx, you can transfer the ownership and I am happy to build using it for extensions apart fro

[2020-05-18 02:24] erluxman commented on #32
I am interested and would like to contribute.. Keep it up @ishaan1995

[2020-06-04 15:24] #70 closed

[2020-06-14 00:13] shinriyo opened #86 "[Feature request]Validation String extension"
validation extension is also concept?

like this
[code]

If it is. I will do pull-request.

[2020-06-16 23:15] TimWhiting opened #87 "dartx not compatible with Flutter master"
I'm getting this error now on flutter master:
[code]
Looks like characters just declared their api stable and published `1.0.0`

I'm guessing you can just update the constraint to allow `characters: ^1.0.0`

[2020-06-17 16:01] passsy commented on #87
Fixed in [0.4.2](https://github.com/leisim/dartx/releases/tag/v0.4.2)

[2020-06-17 16:01] #87 closed

[2020-06-25 09:37] xsahil03x opened #89 "Correct file to add this extension."
@passsy can you suggest the correct file to add this particular [extension function](https://gist.github.com/xsahil03x/be1c66d521f7e1f1195a6149c33ba538). I don't really think this should be part of String extension.

[code]

[2020-06-30 13:03] mreichelt opened #91 "zip can only zip iterables of the same type"
The zip method is especially useful when we can zip items of different types - but `zip` in dartx is implemented to only accept a right-hand iterable of the same type. So things like this work:

[code]

But this doesn't:

[code]

![image](https://user-images.githubusercontent.com/400322/86129185-9695db00-bae2-11ea-928f-61deb9410c01.png)

We can try to change the implementation of the original `zip

[2020-06-30 13:20] mreichelt commented on #91
Rough new implementation that works for me:

[code]

[2020-06-30 17:03] mreichelt opened #92 "Add code coverage"
Currently, PR requests seem to fail due to a missing codecov.io key:

[code]

Since that's free for open-source projects, and because seeing code coverage on a project like this is probably a good idea, we should add one :)

[2020-07-01 13:57] shinriyo opened #93 "[Feature request]safe cast"
I want to cast easyly.

because it is too long.
`List<int> hoge = map['hoge']?.cast<int>() ?? [];`

I want to do this.

`List<int> hoge = map['hoge']safecast<int>();`

[2020-07-01 14:39] mreichelt commented on #92
PS: It seems this can only be added by main contributers.

[2020-07-03 21:44] mreichelt commented on #91
Yep - this works, but unfortunately it also breaks consumer code:

![image](https://user-images.githubusercontent.com/400322/86498367-dcbe9900-bd85-11ea-99ce-6d637dee4cf5.png)

The second parameter will now become `dynamic` - which is sad, because every info for Dart to find out the generic `R` is available at build time. It just won't pass that as generic for parameter `b` in `transform`.
And Dar

[2020-07-04 07:54] leisim commented on #91
@mreichelt Thanks for the detailed proposal.

Is it only me or is this a bug in Dart? In my opinion Dart should be able to infer the types correct without manual annotations.

I don't think we should add a `zipWith()` method that has basically does the same as the `zip()` method. It is not great that type annotations will be necessary in the future but I think we should replace the existing `zip (

[2020-07-04 07:59] leisim commented on #93
I'm not sure whether this is something many users would find useful. Is there a language which has a similar method?

There are many examples where we could add a "safe" method but I don't think cluttering the auto complete is with it.

Example:
[code]

[2020-07-04 08:06] leisim commented on #89
There are countless time formats. Not sure if it is a good idea to add parsing for one specific format (even if it is a common one)...

[2020-07-04 08:08] leisim commented on #86
@shinriyo I like the idea. What else could we validate? Emails, URLs, ...

[2020-07-04 08:44] shinriyo commented on #86
@leisim both of them.
and telephone numbers also

[2020-07-04 08:47] leisim commented on #86
@shinriyo Phone numbers are super complicated to validate. I think this should be a separate package (see github.com/google/libphonenumber)

[2020-07-04 11:07] mreichelt commented on #91
Ok, thanks! Then, at least I'll add some docs to the `zip` method later so people know how to make their code working again :)

[2020-07-04 21:53] mreichelt commented on #91
@leisim I added an example in the `.zip()` documentation as stated. It's ready to be merged now IMO :-)
https://github.com/leisim/dartx/pull/94

[2020-07-06 01:37] shinriyo commented on #86
@leisim Thank you. I checked the URL's contents. but, there are not dart languages though it is google official language.

[2020-07-09 13:22] xsahil03x commented on #89
@leisim makes sense, Closing.

[2020-07-09 13:22] #89 closed

[2020-07-09 14:21] passsy commented on #89
isn't this a duplicate of [DateTime.parse](https://api.dart.dev/stable/1.24.3/dart-core/DateTime/parse.html) anyways?

[2020-07-09 14:31] passsy commented on #89
[DateTime](https://api.dart.dev/stable/1.24.3/dart-core/DateTime/parse.html) supports parsing of ISO8601 timestamps. I think it would be a good idea to offer the same for `Duration`.

I personally would prefer an official `Duration.parse()` constructor in the dart sdk, which probably takes years to land.

I don't like offering an extension for `String` for such a rarely used method. Therefore `dar

[2020-07-09 14:58] passsy commented on #86
We should avoid adding too many extensions on `String`. Strings are widely used and most don't represent a phone number or an email address.

For such cases I suggest creating new packages, like an email validator which could also contain validation logic.

[code]

Side note: Email validation is as tricky as phone number validation. Probably impossible to cover in a single regex. I'd be happy if t

[2020-07-09 16:12] passsy commented on #93
I've constantly ran into similar problems when parsing json responses, that's why I created the [`deep_pick`](https://github.com/passsy/deep_pick) package.

Your code would become:

[code]

[2020-07-09 18:54] passsy commented on #91
That's a problem I've also ran into when building `kt.dart`.

![Screen-Shot-2020-07-09-20-25-33 80](https://user-images.githubusercontent.com/1096485/87077442-6ad1ce00-c223-11ea-8bab-f355867502bd.png)

### Definitely a dart issue

I think right now would be a good time to open a dart-lang/sdk issue about this. I searched for quite a while but haven't found anything related.
<details>
<summary>deta

[2020-07-09 19:12] #92 closed

[2020-07-09 20:19] passsy commented on #80
I found myself using this a few times. Although I think `pattern matching` or at least a `switch case with return type` will land in Dart in the next 2 years, this can work as a neat temporary solution.

I'd like to hear your opinion on a slightly different API. When I use this pattern I use Functions as my cases. The trailing braces `()` in your API don't look nice. I'm also not 100% satisfied wi

[2020-07-10 21:31] shinriyo commented on #93
@passsy Thank you. I will be considering it

[2020-07-12 02:05] nateshmbhat opened #97 "add forEachIndexed for list"
Many times we would need index along with value. This extension could help a lot when added to a list.

[2020-07-14 00:12] passsy commented on #97
It's already implemented for `Iterable`, therefore also for `List`
https://github.com/leisim/dartx/blob/bbfb05da04d2b596eaa097ddc98f302e8f09bb92/lib/src/iterable.dart#L159-L164

[2020-07-14 00:12] #97 closed

[2020-07-14 00:31] nateshmbhat commented on #97
i guess its not documented in the readme 🤔

[2020-07-14 00:39] nateshmbhat opened #98 "a way to auto import dartx without having to manually import it in every file ?"
Unlike having classes which will be auto imported in IDE when using them , extension methods will be shown only when I import the dartx file.

Doing this for every file is tedious. Is there some way to get IDE completion to auto import this ?

[2020-07-14 00:43] passsy commented on #98
It's a known issue https://github.com/dart-lang/sdk/issues/38894 without solution or workaround

[2020-07-14 00:44] #98 closed

[2020-07-14 00:44] passsy commented on #97
Thanks for bringing it up. Wanna open a PR to fix it?

[2020-07-14 00:55] nateshmbhat commented on #97
Sure :) would love to ✌️

[2020-07-19 09:46] Skquark opened #99 "Another break after Flutter upgrade with collection"
After my latest Flutter upgrade on the Dev channel, looks like it needs the maximum version of collection a little higher than 1.15.0.. Here's the error:
Because every version of flutter from sdk depends on typed_data 1.3.0-nullsafety which depends on collection >=1.15.0-nnbd <1.15.0, every version of flutter from sdk requires collection >=1.15.0-nnbd <1.15.0.
And because every version of black_ho

[2020-07-21 19:54] #99 closed

[2020-07-23 10:21] Skquark commented on #80
Hmm, I like some of your implementations, but not sure if those proposals really improve it's ease of use over the original.  The goal would be as little typing as possible, without extra fields needed, and adding the additional syntax for the optional defaultValue seems to complicate it visually. I agree about there being another way to do the switch case more integrated into the Dart language in

[2020-07-29 09:37] komape opened #104 "Get an enum value by String"
# Get an enum value by String

Would be nice, if the an enum would have by default a method like `getValue(String key)` that returns the corresponding enum value to that `key`.

## Current situation

Currently it's necessary to iterate through the `values` and match them manually.

[code]

[code]

## Better solution

[code]

[code]

[2020-07-29 11:26] komape opened #105 "List.map() with access to the current index"
# List.map() with access to the current index

The `List.map()` function should have access to the index such as in JavaScript.

[code]

# Current Situation

The `List.map()` has only access to the value.

[code]

The working but ugly alternative is to use `asMap()` and iterate through its entries.

[code]

# Better Solution

Give access to the index.

[code]

[2020-07-29 11:29] komape commented on #105
Just found out, that the current alternative can be done this way

[code]

Still not perfect but little bit better.

[2020-07-29 13:17] passsy commented on #104
Currently not possible. Dart doesn't allow to define static extensions or factory constructors as extensions https://github.com/dart-lang/language/issues/723

[2020-07-29 13:20] passsy commented on #105
We already support it. The method is called [`mapIndexed`](https://github.com/leisim/dartx/blob/master/lib/src/iterable.dart#L628)

[2020-07-29 13:20] #105 closed

[2020-07-30 07:20] #104 closed

[2020-08-13 03:38] wangbo4020 opened #106 "Cloud support DateTime.isLeapYear"
Like this

[code]

[2020-08-13 06:11] leisim commented on #106
Why did you close this issue? I think it's a good addition...

[2020-08-13 06:20] wangbo4020 commented on #106
Haha, tanhks, I'm reopen.

[2020-08-13 08:06] passsy commented on #106
Shouldn't it better added to [`time`](https://github.com/jogboms/time.dart)?

[2020-09-16 02:51] shinriyo commented on #106
how about it?
https://github.com/jogboms/time.dart

[2020-09-16 02:51] shinriyo opened #107 "]"

[2020-09-25 19:44] leisim commented on #107
Would you like to create a PR?

[2020-10-14 23:46] shinriyo opened #108 "[Feature request] Unique for list"
I want to like this.
[code]

in dartx.
[code]

[2020-10-15 14:10] passsy commented on #108
We already have `distinct()` and `distinctBy()` https://github.com/leisim/dartx/blob/b488b172f336b67de20ea7183f717389a9287c39/lib/src/iterable.dart#L657-L683

[2020-10-15 14:10] #108 closed

[2020-10-16 02:18] shinriyo commented on #108
ah, okey.
like SQL's name.
I just research by "unique" word
so I couldn't find.

[2020-10-30 19:55] jonasfj opened #110 "Iterable.startsWith"
Maybe something like this might be nice to have:
[code]

We have it on `String`, so why not on `List` or perhaps even `Iterable`?

**Example usage:**
[code]

**disclaimer:** this is not a fully conceived thought, maybe it's only relevant for lists, and maybe not even there.

[2020-11-02 13:24] passsy opened #111 "Map.mapValue/mapKey"
mapping values without manually converting a Map to entries and back would be nice

Similar to ktdart https://github.com/passsy/kt.dart/blob/master/lib/src/collection/kt_map.dart#L387

[2020-11-19 17:13] TimWhiting opened #112 "Null Safety Migration"
Just wanted to open an issue for this since null safety is now in [beta](https://medium.com/dartlang/announcing-dart-null-safety-beta-87610fee6730) and they are encouraging package authors to migrate.

A quick check with `pub outdated --mode=null-safety` shows that `crypto` and `time` still need to update before this package probably should.
[code]

[2020-11-19 19:49] passsy commented on #112
It would be awesome if you could also reach out to those projects :)

[2020-12-10 01:19] leisim commented on #112
I created a [nnbd branch](https://github.com/leisim/dartx/tree/nnbd). We're just waiting on some transitive dependencies now.

[2020-12-26 22:44] VKBobyr opened #117 "Proposal: modifyWhere and modifyFirstWhere"
I propose the following modifier functionality:

[code]

### Motivation
Very common operation when modifying certain items in a list.

[2020-12-28 10:27] KN-Pradeep opened #118 "pub get fails after upgrading flutter version for app developed with previous flutter version"
I used to work with the previous stable version of flutter and mainly I used Hive DB to store data locally.
I switched to a new machine and currently I have the latest version of flutter downloaded.
Currently I am facing problem when I run to get packages.
Below is the error

[code]
Below is my dependencies mentioned on pubspec.yml

[code]

[code]
</details>

[2020-12-28 17:28] passsy commented on #118
The error message and the `pubspec.yaml` you posted don't match.

Error message: `dartx >=0.2.0 <0.5.0`
pubspec.yaml: `dartx: ^0.5.0` which equals `dartx >=0.5.0 <0.6.0`

Add `dartx: ^0.5.0` to your pubspec.yaml and and run `flutter packages upgrade`. This error only happens when your `pubspec.yaml` & `pubspec.lock` file reference `dartx: 0.4.X` and you run `flutter packages get`.

[2020-12-29 20:01] shinayser commented on #112
@leisim Time has been already updated to NNDB. Seems that only `crypto` is missing, right?

[2020-12-30 21:46] TimWhiting commented on #112
By the way crypto was just published, so this should be unblocked

[2021-01-01 06:22] AKushWarrior commented on #112
NNBD for this package should be pretty easy since it's mostly methods. I can take a crack at it if it's not already been done.

[2021-01-05 19:22] shinayser commented on #106
Definetly should be added to the `time` package.

[2021-01-25 12:41] atreeon commented on #112
Hi, is there an update?  I think the dependencies have been updated now?

[2021-02-25 17:08] shinayser commented on #112
@leisim @passsy guys,why don't you add another admin to the project? Seems that you guys can't spend much time improving, accepting PRs, upgrading libs, etc... The project is starting to look a little "abandoned"
If there is anything we can do for you, please just ask!

[2021-03-01 03:42] shinayser commented on #112
Guys @leisim @passsy ? March 3 is about the corner. You got any news?

[2021-03-01 17:53] passsy commented on #112
`0.6.0` has been published with nullsafety enabled.

I'm sorry for the delay to actually publish this nnbd version. While migrating we noticed that other packages, especially [`package:collection`](https://pub.dev/documentation/collection/1.15.0/collection/IterableExtension.html) started shipping their own extension functions. Those, in the long-term, will make `dartx` obsolete.

The big question

[2021-03-01 17:53] #112 closed

[2021-03-19 12:35] komape commented on #23
With a list you have a list of items. The function given to the method applies it to every item. The problem with a string is the definition of an item in this context. The first definition that comes to my mind is that one each character of a string is an item. For example:

[code]

Do you mean that? Do you have an example or more specified definition?

[2021-03-21 23:08] RomanKornev opened #124 "Linear complexity of elementAt"
Is there a reason why elementAt needs to go through every item one by one? I suggest instead to check for bounds and access by index directly.
https://github.com/leisim/dartx/blob/master/lib/src/iterable.dart#L43

[2021-03-22 00:06] passsy commented on #124
Thanks for reporting. While it is not possible for `Iterable`, there is the opportunity to add a faster version for `List`

[2021-03-22 00:09] #124 closed

[2021-03-22 00:13] #106 closed

[2021-03-22 00:14] #118 closed

[2021-03-22 00:17] #79 closed

[2021-03-22 00:17] #69 closed

[2021-03-22 00:17] #68 closed

[2021-03-22 00:17] #57 closed

[2021-03-22 17:30] RomanKornev commented on #124
Thanks! I think `elementAtOrElse` might have the same problem.

[2021-04-10 17:14] nogipx opened #128 "Extension for text coloring"
[code]

[2021-04-13 17:15] komape opened #129 "Create proper documentation for dartx"
As far as I know dartx's content is only documented in code and in README.md. Would be nice to create some real docs like [dart itself does](https://api.dart.dev/stable/2.12.2/index.html). I've never done this but I found [dartdoc](https://github.com/dart-lang/dartdoc) which looks promising. Could be set up as a GitHub Page.

[2021-04-13 18:03] leisim commented on #129
@komape Most (if not all) of the extension methods have docs. Pub.dev automatically generates them: https://pub.dev/documentation/dartx/latest/dartx/dartx-library.html

[2021-04-13 19:49] komape commented on #110
Solved for Iterables.

[2021-04-14 20:12] komape commented on #129
But for every method I have to open the seperate extension doc. Is there a way to show all docs of extensions that extend the same class in one doc (besides README.md)?

[2021-05-17 10:00] komape commented on #117
@VKBobyr Seems like you already have the code for that. Why don't you just open a pull request if you have the implementation ready?

[2021-05-19 16:36] komape commented on #110
@passsy this issue can be closed now.

[2021-05-20 09:48] #110 closed

[2021-05-27 10:29] eggnstone opened #132 "Improve README"
- Please describe the package, what is it about? There is nothing at the top of the package explaining it.
- Please list *all* extensions. The readme says "On this page you can find some of the extensions. Take a look at the docs to see all of them." Why not list all? What do you mean by "the docs"? The API reference? That does not give me a good overview, there are too many helper classes, and I

[2021-05-27 10:48] passsy commented on #132
Happy to accept your PR with the improvements :)

[2021-05-27 12:03] eggnstone commented on #132
That's not going to happen. Not because I don't want to or try to be unhelpful or mean, but because a) I have only a vague idea about what this package is (handy helper extensions?) and I also think that this should be the (prideful) responsibility of the package owner and b) even if I would create a list and examples of all the extensions then would it also be my duty to keep it up to date? Again

[2021-06-06 22:08] rishabhdeepsingh commented on #36
I can work on this one.

[2021-06-08 00:27] passsy commented on #36
I like it, please open a PR :)

[2021-06-08 18:40] rishabhdeepsingh opened #134 "Flatten should work with deeply nested lists as well"
This can be achieved by setting a flag in the flatten extension or directly flattening the list.
Need some more discussion.
[code]

[2021-06-09 19:38] ebelevics commented on #132
Well I just wanted to create post on why aren't extensions shown when I start writing method on editor (Visual Studio Code), and then I came across this post. For example I started writing slice() for list, but Editor only recognized it got from dartx when I wrote it fully. Why it's like that?
If this issue would be resolved, then there wouldn't be need to add all API reference in docs. Of course

[2021-08-06 01:13] jahnli opened #135 "Class 'List<List<int>>' has no instance method 'flatten'. Receiver: Instance(length:1) of '_GrowableList' Tried calling: flatten()"

[2021-08-06 10:53] #135 closed

[2021-09-06 07:52] jahnli opened #137 "More detailed and clear documentation"

[2021-09-06 07:52] jahnli commented on #137
I think DarTX is great, but there is too little documentation and examples, and I think more documentation would make DarTX even better

[2021-09-22 09:30] mkranus opened #139 "Release update on pub"
It is been a while I have to fetch this package from git instead of pub, because the changes are not being published to pub.

[2021-10-15 14:40] passsy commented on #111
I'm sorry, this has already been resolved in #136

See https://github.com/leisim/dartx/blob/master/lib/src/map.dart

[2021-10-15 14:40] #111 closed

[2021-12-20 22:22] carmas123 opened #150 "String isNullOrBlank missing"
Please can you add this extension to a nullable string?

Regards

[2022-01-03 20:26] VKBobyr commented on #150
Can probably be closed

[2022-01-04 07:34] #150 closed

[2022-04-12 10:08] philippschweig opened #155 "`takeFirst` and `takeLast` are not index safe"
[`takeFirst`](https://github.com/leisim/dartx/blob/master/lib/src/iterable.dart#L523) and [`takeLast`](https://github.com/leisim/dartx/blob/master/lib/src/iterable.dart#L539) are not index safe.

Excerpt of `takeFirst`: sublist is not index safe
[code]

[2022-04-12 14:35] passsy commented on #155
Already fixed #156

[2022-04-12 14:35] #155 closed

[2022-04-23 20:26] VKBobyr commented on #117
@komape do you happen to know why it wasn't merged? 🥲

[2022-05-07 18:43] fennelhans opened #160 "SSL Cert expired"
Hey bud, just a heads up that your SSL cert on honey.dev expired last week.

[2022-05-08 10:52] passsy commented on #160
@leisim ☝️

[2022-05-08 21:28] leisim commented on #160
Thanks 🙂

[2022-10-01 01:00] hugobrancowb commented on #36
can someone close this issue? it has been merged a year ago

[2022-10-01 16:48] #36 closed

[2022-10-05 18:59] robiness opened #164 "`move` methods on `List`"
Working with reorderable lists like [reorderables](https://pub.dev/packages/reorderables) or [ReorderableListView](https://api.flutter.dev/flutter/material/ReorderableListView-class.html)  there often is a callback like
`void onReorder(int oldIndex, int newIndex)`

Would it make sense to you to add something like it's done [here](https://github.com/thomasnield/kotlin-collection-extras/blob/master/

[2022-10-05 19:41] passsy commented on #164
Really like the move methods! Let the PRs fly in :)